.rectangle {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 6.25rem;
    background: #FFF;

    width: 5.5vw;
    height: 21vw;
    border-radius: 100px;
    position: relative;
    opacity: 0.5;
}

.circle {
    border-color: #9AE0C3;
    height: 5vw;
    width: 5vw;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
}