.container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

.rectangle {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    border-radius: 6.25rem;
    background: #FFF;

    width: 4vw;
    height: 20vw;
    border-radius: 100px;
    position: relative;
}

.circle {
    border: #9AE0C3;
    border-style: solid;
    border-width: 2px;
    height: 4vw;
    width: 4vw;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
}
  
.circle-1 {
    top: 2vw; /* Position above the rectangle */
    transform: translateX(-50%);
}
  
.circle-2 {
    top: 9.5vw; /* Position above the rectangle */
    transform: translateX(-50%);
}
  
.circle-3 {
    top: 17vw;
    transform: translateX(-50%);
}
  