body{
    overflow: hidden;
    height: 100%;
    padding-left: 10vw;
    padding-top: 12vw;
    padding-bottom: 10vw;
    background: radial-gradient(circle, #81E0AF, #0DB59E);
}

#title {
    color: var(--black, #161522);
    font-family: "Love Ya Like A Sister";
    font-size: 11vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.5vw;
    margin-top: auto;
}

#desc {
    color: var(--black, #161522);
    font-family: "Varela Round";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
    margin-right: 1.5vw;
}

button {
    display: flex;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
    border-radius: 1.25vw;
    background: var(--black, #161522);
}

#newjar{
    color: #FFF;
    font-family: "Varela Round";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}