#newjarmain {
    background: radial-gradient(circle, #81E0AF, #0DB59E);
    overflow: hidden;
    height: 100%;
}

#sidebarmain {
    display: inline-flex;
    padding-left: 25vw;
    padding-top: 15vw;
}

#form1 {
    display: inline-flex;
    position: absolute;
    margin-left: 30px;
    margin-top: 175px;
}